Options +FollowSymLinks -MultiViews
# Turn mod_rewrite on
RewriteEngine On
RewriteBase /

RewriteCond %{DOCUMENT_ROOT}/dist/$1 -f [OR]
RewriteCond %{DOCUMENT_ROOT}/dist/$1 -d [OR]
RewriteCond %{DOCUMENT_ROOT}/dist/$1 -l

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]