
// TEXT STYLES

h1 {
    text-transform: uppercase;
}

.subtitle {

}

#app{
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  header{
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 0;

    .user-settings{
      border: 0;
      margin: 10px;
      height: 40px;
      width: 40px;
      background: grey;
      border-radius: 50%;
      text-align: center;

      &:hover{
        background: lightgray;
      }

      svg{
        height: 40px;
        width: 20px;
      }
    }
  }

  .container {
    width: 100%;
    max-width: 500px;
    flex-grow: 1;
  }

  footer{
    display: flex !important;
    flex-grow: 0;
    background: grey;
    flex-direction: row;
    height: 80px;
    align-items: center;

    a{
      flex-grow: 1;
      text-align: center;

      span svg{
        height: 30px;
        width: 30px;
        margin: 5px 0;
      }
    }
  }

.logo{
    height: 100px;
    width: 100px;
    margin: 20px auto;
    display: block;
}

.location_success{
  text-align: center;
}